.heading {
  color: #cc664E;
}

body {
  min-height: 100vh;
}
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none; 
}
.background {
  background-color: #EDE6DF;
}

.full-height {
  min-height: 100vh;
}

.background-two {
  background-color: #0B485D !important;
}

.caption {
  color: #0B485D !important;
}

.top {
  margin-top: 50px;
}

.button-custom {
  background-color: #0B485D !important;
  color: white !important;
  border: none !important;
}

.background-one {
  background-color: #FCF7F3;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.5);
}

.my-custom-min-height {
  min-height: 80vh;
}

.footer-container {
  width:100%;
  margin-left:240px;          
  padding:  40px 20px;   
  color: #fff;
  background-color: #cc664E;
}
.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  max-width: 1116px;
  flex-direction: column;
}
.footer-container a {
  color: #bbb;
  text-decoration: none;
}

.footer-content {
  align-self: center;
  width: 100%;
}
.footer-container a:hover {
  color: #fff;
}

.footer-sections {
 display: flex;
  flex-wrap: wrap;   
  gap: 20px;
}

.main-section {
  display: flex;
  flex-direction: column;
  flex: 1;  
  min-width: 250px; 
}

.content-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  mix-blend-mode: multiply;
}

.brand-logo {
  width: 150px;
  object-fit: contain;
}

.brand-description {
  color: white;
  font: 400 14px/25px Inter, sans-serif;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
}

.footer-column {
 display: flex;
  flex-direction: column;
  flex: 1;  
  min-width: 150px;
}

.column-title {
  color: white;
  font: 500 14px/25px Inter, sans-serif;
}

.link-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.payment-section {
  margin-top: 20px;
  color: white;
  font: 500 14px/25px Inter, sans-serif;

}

.payment-methods {
  width: 176px;
  margin-top: 10px;
  mix-blend-mode: difference;
}

.copyright-text {
  margin-top: 20px;
  text-align: center;
  color: white;
  font: 14px/25px Inter, sans-serif;
  border-top: 1px solid #e9e9eb;
  padding-top: 20px;
}


.sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background: #212529;
  padding: 1rem;
  z-index: 2;
}


.main-content-wrapper {
  margin-left:240px;
  max-height:100vh
}
.main-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.d-flex {
  flex-grow: 1; 
  display: flex;
}

@media (max-width: 992px) {
  .main-content-wrapper {
    margin-left: 0; 
  }
}

@media (max-width: 991px) {
  .footer-container {
   margin-left:0;
   width:100%;  
  }

  .footer-sections {
    flex-direction: column;
    align-items: center;  
    gap: 20px;
  }

  .main-section,
  .footer-column {
    width: 100% !important; 
    max-width: 100%;
  }

  .brand-logo {
    margin: 0 auto;
  }

  .social-links {
    justify-content: center;
  }
}