.heading {
    color: #cc664E;
}

.background {
    background-color: #EDE6DF;
}

.full-height{
    height:100vh;
}

.background-two {
    background-color: #0B485D !important;
}

.caption {
    color: #0B485D !important;
}

.button-custom {
    background-color: #0B485D !important;
    color: white !important;
    border: none !important;
}

.background-one {
    background-color: #FCF7F3;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.zoom-image {
    transition: transform 0.3s ease-in-out;
  }

  .zoom-image:hover {
    transform: scale(1.5); /* Zoom effect */
  }

  .my-custom-min-height {
    min-height: 80vh;
  }